body {
    background-color: #131613;
    font-family: "Open Sans", sans-serif ;

    --main-bg-color: #131613;
    --text-color: #E7E7E7;
    --main-color: #B5F209;
}

.navbar-btn {
    margin: 0px 5px;
    margin-top: 10px;
}

.myapp-card-bg {
    background-color: transparent;
    border: none;
}

.myapp-heading {
    color: var(--main-color);
}

.basket-btn {
    background-color: #acf50a;
    color: black;
}

.basket-heading {
    color: #acf50a;
}

.basket-head__price {
    color: #ffffff;
}


.basket_main {
    margin-left: 30px;
    width: 800px;
}

.basket-div {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1b1b1b; 
    color: #fff; 
    border-radius: 8px; 
    margin-bottom: 20px; 
    width: 800px;
    margin-top: 30px;

}

.basket-head__div {
    margin-top: 30px;
}

.basket-img {
    width: 130px;
    height: 130px;
    border-radius: 12px; 
    background-color: #d3d3d3; 
    object-fit: cover;
    
}


.basket-name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px; 
    flex-grow: 1; 
}

.basket-btns_quantity {
    display: flex;
    width: 100px;
    align-items: center;
    background-color: #1b1b1b; 
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 10px;
}

.basket-name_btns {
    margin: 20px;
}

.basket-btns_quantity button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-btns_quantity button:hover {
    background-color: #333;
}

.basket-btns_quantity p {
    margin: 0 10px;
    color: #fff;
    font-size: 16px;
}

.basket-quantity-price {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap; 
    margin: 5px;
    margin-left: auto;
    align-self: start;
}

.basket-order {
    width: 100%; 
    padding: 10px 0; 
    background-color: white; 
    color: black; 
    font-size: 15px; 
    border: none; 
    cursor: pointer; 
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 50px;
}

.basket_empty-text {
    color: white;
}

.navbar-btn-three {
    margin: 5px;
}


.basket-order:active {
    background-color: #dcdcdc;
}

@media (max-width: 540px) {
    .basket-div {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px;
        width: 350px;
    }
    .basket_main {
        width: 350px;
    }

    .basket-img {
        width: 60px; 
        height: 60px;
    }

    .basket-name {
        font-size: 16px; 
        margin: 10px 0; 
    }

    .basket-btns_quantity {
        width: 100%; 
        justify-content: space-between; 
        padding: 5px; 
    }

    .basket-btns_quantity p {
        font-size: 14px; 
    }

    .basket-quantity-price {
        font-size: 16px; 
        margin-top: 10px; 
        text-align: right; 
        width: 100%;
    }
}


.myapp-input-email, .myapp-input-password {
    border: 3px solid var(--main-color);
    border-radius: 31px;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.08);
    padding: 10px 28px;
    font-size: 16px;

}

.myapp-input-email:focus, .myapp-input-password:focus {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--text-color);
}

.myapp-input-email::placeholder, .myapp-input-password::placeholder {
    color: var(--text-color);
}

.myapp-registration {
    background-color: var(--main-color);
    color: #000000;
    border: none;
    border-radius: 31px;
    width: 400px;
    font-weight: 600;
}

.myapp-registration:hover, .myapp-registration:focus {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}

.myapp-registration:active {
    background-color: #88b50a !important;
    color: #000000 !important;
}

.myapp-noaccount {
    color: var(--text-color);
    font-weight: 500;
}

.myapp-noaccount-link {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;

}

.myapp-navbar {
    background-color:  rgba(255, 255, 255, 0.32);
    margin: 10px;
    padding: 15px;
    border-radius: 14px;
}

.myapp-navbar-heading {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
}

.myapp-navbar-btns {
    background-color: none !important;
}

.admin-btns {
    color: var(--main-color); 
    border: 1px solid var(--main-color); 
    background-color: transparent;
    font-weight: 600;
    padding: 20px;
    margin: 5px;

    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.admin-btns:hover {
    color: #000000;
    background-color: var(--main-color); 
    border-color: var(--main-color); 
}

.admin-btns:focus {
    background-color: #A5DC0B !important;

}

.admin-btns:disabled {
    color: var(--main-color); 
    background-color: transparent; 
}

.admin-navbar, .admin-navbar {
    font-weight: 600;
    margin: 5px;
    background-color: var(--main-color);
    border: none;
    color: #000000;
    font-weight: 600;
}


.admin-navbar:hover, .admin-navbar:focus
.admin-navbar:hover, .admin-navbar:focus
{
    background-color: #A5DC0B !important;
    color: #000000 !important;

}

.logout-navbar {
    color: var(--main-color); 
    border: 1px solid var(--main-color); 
    background-color: transparent;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 5px;
    font-weight: 600;
}
.logout-navbar:hover {
    color: #000000;
    background-color: var(--main-color); 
    border-color: var(--main-color); 
}

.logout-navbar:focus, .logout-navbar:active {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}

.dropdown-device {
    background-color: var(--main-color);
    border: none;
    color: #000000;
}

.dropdown-device:hover {
    color: #000000;
    background-color: var(--main-color); 
    border-color: var(--main-color); 
}

.dropdown-device:focus, .dropdown-device:active {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}


.dropdownMenu-device {
    color: #000000;   
    border: 1px solid var(--main-color); 
    background-color: var(--main-color) !important; 
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdownMenu-device:hover {
    color: #000000;
    background-color: var(--main-color) !important; 
    border-color: var(--main-color); 
}

.dropdownMenu-device:focus, .dropdown-device:active {
    background-color: #A5DC0B !important;
}

.dropdownMenu-device:disabled {
    color: var(--main-color); 
    background-color: transparent; 
}

.dropdownItem-device {
    background-color: #A5DC0B !important;
    color: #000000;
}

.property-device {
    color: #000000; 
    border: 1px solid var(--main-color); 
    background-color: transparent;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.property-device:hover {
    color: #000000;
    background-color: var(--main-color); 
    border-color: var(--main-color); 
}

.property-device:focus, .property-device:active {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}

.delete-property {
    font-weight: 600;
    padding: 10px 30px;
    color: #000000; 
    border: 1px solid var(--main-color); 
    background-color: transparent;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.hide-modal, .delete-property {
    font-weight: 600;
    padding: 10px 30px;
    color: #000000; 
    border: 1px solid var(--main-color); 
    background-color: transparent;
    font-weight: 600;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hide-modal:hover,
.hide-modal:focus,
.delete-property:hover,
.delete-property:focus
{
    color: #000000;
    background-color: var(--main-color) !important; 
    border-color: var(--main-color); 
    border: none;
}

.adding-modal {
    background-color: var(--main-color);
    border: none;
    color: #000000;
    font-weight: 600;
    padding: 10px 30px;
}

.adding-modal:hover, .adding-modal:focus {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}

/*TypeBar.js*/

.heading-typebar {
    color: var(--main-color);
    margin-top: 50px;
    font-size: 30px;
}

.typebar {
    border-radius: 10px;
}

.typebar-item {
    cursor: pointer
}

.typebar-item:active, .typebar-item:focus, .typebar-item:hover, .typebar-item.active {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}

.heading-brandbar {
    color: var(--main-color);
    margin-top: 50px;
    font-size: 30px;

}

.brandbar {
    border-radius: 10px;
}

.brandbar-item {
    cursor: pointer
}

.brandbar-item:active, .brandbar-item:focus, .brandbar-item:hover, .brandbar-item.active {
    background-color: #A5DC0B !important;
    color: #000000 !important;
}


.btn-deviceitem {
    border-radius: 20px;
    width: 100%;
    padding: 3px;
    border: none;
    font-size: 15px;
    margin-top: 4px;
    font-weight: 600;
    background-color: var(--text-color);
    color: var(--main-bg-color);
}

.btn-deviceitem:active, .btn-deviceitem:focus {
    background-color: rgb(223, 223, 223) !important;
}

.btn-deviceitem:hover {
    background-color: rgb(223, 223, 223);
}

.page-link {
    background-color: #4caf50 !important;
    color: white !important;
    border-color: #4caf50 !important;
}

.page-link.active {
    background-color: #2e7d32 !important;
    border-color: #2e7d32 !important;
}

.col-type_brand {
    flex: 1 0 0%;
}

.col-devices {
    flex: 3 0 0%;
    margin-top: 20px;
}

.filters-hr {
    color: white;
}

.no-products-message {
    color: white;
    margin: 50px;
}